@charset "UTF-8";

// colors
$redDark: #2f0000;
$redLight: #7d0000;
$red: #ff0000;
$darkText: #1e3246;
$orangeDark: #f06100;
$orangeLight: #ff9400;
$blueLight: #12ffdc;
$greenLight: #2cfa46;
$purpleLight: #be05e6;

// magic highlight
// $magicHighlight: linear-gradient(180deg, rgba(0,211,219,1) 0%, rgba(0,204,13,1) 100%);
$magicHighlight: linear-gradient(0deg, rgba(3,0,255,1) 0%, rgba(84,0,180,1) 50%);

// effects
$textShadow: 0px 2px 1px #000000;
